.core-container{
  height: 70px;
  width: 70px;
  font-size: 6.5pt;
  font-weight: 600;
  border-radius: 10px;

  .core-parameters{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}