.frequency-wrapper{
  position: relative;  
  width: 100%;
  height: 25px;
  // border: 1px solid #ff2442;
  
  
  
  .slider-header{
    font-size: 7.3pt;
    font-weight: 600;
    height: 20%;
    display: flex;
    
    
  }
  
  .frequency-slider{    
    position: absolute;
    cursor: e-resize;
    height: 80%;
    width: 100%;
    top: 0;
    display: flex;
  
    // border: 1px solid red;
    
    .value{
      position: absolute;
      top: 55%;
      font-size: 6.7pt;
      font-weight: 600;   
      
    }
  }
}