.source-options-wrapper{
  height: 100%;
  background-color: #17171777;
  color: bisque;
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .left-stander{
    border-right: 1px solid #77777777;
    padding-top: 2rem;

    .header{
      writing-mode: vertical-rl;
    }
  }

  .parameters{
    display: flex;
    font-size: 8pt;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;

    .separator {
      height: 100%;
      width: 20px;
      border-left: 1px solid #77777742;
      margin-left: .5rem;
      
      .separator-text{  
        writing-mode: vertical-lr;
        margin-top: 3rem;
        font-size: 6pt;

      }

    }

    .params{
      margin-top: .5em;
    }
  } 
}