.source-options-wrapper{
  height: 100%;
  background-color: #17171777;
  color: bisque;
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .left-stander{
    border-right: 1px solid #77777777;
    padding-top: 2rem;

    .header{
      writing-mode: vertical-rl;
    }
  }

  .parameters{
    font-size: 8pt;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;

    &.options{
      width: 0;
    }
  }

  .saw{
    height: 120px;
    width: 120px;
  }
}