.source-options-wrapper{
  height: 100%;
  background-color: #17171777;
  color: bisque;
  display: flex;
  flex-direction: row;
  
  
  .left-stander{
    border-right: 1px solid #77777777;
    padding-top: 2rem;
    font-weight: 500;
    font-size: 12pt;
    width: 25px;
    .header{
      writing-mode: vertical-rl;
    }
  }

  .parameters{
    width: 160px;
    overflow-y: scroll;

    .modulator-parameters {
      display: flex;

      .separator{
        border-left: #77777777 1px solid;
        margin-left: .5rem;
        font-size: 7pt;
        font-weight: 300;
        writing-mode: vertical-lr;
      }
    }
  }
}