.input{
  position: absolute;
  top: calc(50% - 6px);
  left: 3%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: grab;
  font-size: 5.5pt;
  padding-top: .75rem ;
  padding-left: .5rem;
}