.omni-oscillator-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .omni-carrier-oscillator{
    margin-top: 1rem;
    .omni-carrier-parameters{
      display: flex;
      
      .omni-carrier-wave-select{
        width: 25px;
        border-right: 1px solid #77777777;
        
      }
      .omni-oscillator-carrier-sliders{
        margin-left: .5rem;
      }
    }    
  }

  .omni-modulator-oscillator{
    display: flex;
    margin-top: .25rem;
    border-top: #77777742 1px dotted;
    .separator{
      font-size: 12pt;
      font-weight: 300;
      writing-mode: vertical-lr;
      margin-left: .5rem;
      padding-top: .25rem;
      border-left: 1px solid #77777777;
    }

    .omni-modulator-parameters{
      display: flex;
      width: 100%;

      .omni-modulator-wave-select{
        width: 100%;
        
        
      }
      .omni-oscillator-modulator-sliders{
        border-top: 1px dotted #77777777;      
        margin-left: .5rem;
      }
    }    
  }
}