.clock-screen{
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #42424242;
  cursor: crosshair;
  color: #fabd42;
  font-size: 10pt;
  font-weight: 500;
}