.mono-filter-section{
  width: 100%;
  border-top: 1px solid #77777777;
  margin-top: .25rem;
  
  margin-bottom: 1rem;
  
  .mono-header{
    font-size: 7pt;
    font-weight: 300;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .25rem;
  }
  .mono-filter{
    padding-left: .25rem;  
    padding-top: .25rem;

  }

  .mono-filter-envelope{
    padding-bottom: .5rem;
  }
}