.node-config-hub-container{
  position: absolute;
  bottom: 0%;
  height: 30%;
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  .node-config-hub {
    height: 98%;
    width: 99%;
    background-color: #070707;
    border: 2px solid #212121;
    display: flex;
    flex-direction: row;
    
    

  }
}