.instrument-container{
  .background-hint {
    padding-top: .1rem;
    width: 70px;
    height: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-weight: 400;
    display: flex;
 
    justify-content: center;
    align-items: center;
    color: #171713;
  }
}