.instrument-options-wrapper{
  height: 100%;
  background-color: #17171777;
  color: bisque;
  display: flex;
  flex-direction: row;

  .left-stander{
    border-right: 1px solid #77777777;
    padding-top: 2rem;
    font-weight: 500;
    font-size: 12pt;

    .header{
      writing-mode: vertical-rl;
    }
  }

  .parameters{
    overflow-y: scroll;
    .synth-header{
      font-size: 9pt;
      font-weight: 300;
      padding-left: .25rem;
    }
    .parameters-left-side{
      width: 160px;
      margin-left: .25rem;
     
    }

    .parameters-right-side{
      width: 160px;
      border-left: 1px solid #77777777;

    }
  }
}