.transport-container{
  height: 100%;
  background-color: #17171777;
  color: bisque;
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .left-stander{
    border-right: 1px solid #77777777;
    padding-top: 2rem;

    .header{
      writing-mode: vertical-rl;
    }
  }

  .parameters{
    font-size: 8pt;
    padding-left: 1rem;
    padding-right: 1rem;

    width: 400px;

    .transport-top {
      height: 10%;
      width: 100%;
      // border: 1px solid #77777777;
      display: flex;
      padding-top: .45rem;

      .start-button {
        width: 20px;
        height: 10px;
        background-color: #77777777;
        margin-bottom: 1rem;
      }

      .start-button-text{
        padding-left: .5rem;
        display: flex;
        align-items: baseline;
        font-size: 7pt;
        font-weight: 600;
        // border:  1px solid #77777777;
      }

    }

    .transport-adjust{
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      border: 1px solid #77777777;

      .show-length{
        font-size: 7pt;
        font-weight: 600;

      }
    }

    .transport-main{
      position: relative;
      width: 100%;
      height: 75%;
      border: 1px solid #77777777;

      .key-slider{
        
        display: flex;
        height: 80%;

        .key-slider-wrapper{
          
          display: flex;
          height: 100%;
          width: 12.5%;

          border: 1px solid #77777777;
        }
      }

      .sequence-length{
        position: absolute;
        left: 0%;
        top: 0%;
        height: 80%;
        width: 100%;

      }
      .transport-bottom{
        width: 100%;
        height: 20%;
        border: 1px solid #77777777;

        .keys-screen{
          display: flex;
          width: 100%;
          height: 50%;


          .chroma-keys{
            width: 12.5%;
            height: 100%;
            border: 1px solid #77777777;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }  
}