.detune-wrapper{
  position: relative;  
  width: 100px;
  height: 25px;
  
  .header{
    font-size: 7.3pt;
    font-weight: 600;
    height: 20%;
  }
  
  .detune-slider{    
    
    cursor: e-resize;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .value{
      position: absolute;
      top:45%;
      font-size: 6.7pt;
      font-weight: 600;   
    }
  }
}