.omni-oscillator{

  .omni-oscillator-options{
    display: flex;
    flex-direction: row;

    .omni-oscillator-waves {
         
    }
    .omni-oscillator-sliders{
      margin-left: 1rem;
      padding-top: 1rem;
    }

  }

}