.switcheroo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #77777777; 
  .switches{
    display: flex;
    height: 100%;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
    font-size: 6pt;
    color: #fabd42;
    cursor: pointer;

    &.active{
      background-color: #272727;
    }

    &.selected{
      color: #fabd42;
    }
  }
}