.navbar-container{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 14%;
  width: 100%;
  background-color: #17171777;
  z-index: 999999;
  .navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .navbar-main-components{
      padding-left: .1rem;
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .navbar-component-header{
        padding-left: .75rem;
        display: flex;
        font-size: 10.5pt;
        font-weight: 700;        
        align-items: end;
        
      }
    }
    .navbar-selectable-elements{
      width: 60%;
      
      display: flex;
      overflow-x: scroll;
      white-space: nowrap;
      padding-top: 1.5rem;
      gap: 10px;
      padding-left: 1rem;      
      padding-right: 1rem;
      border-bottom: 1px solid #77777777;

      .items{
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        height: 60px;
        display: flex;
        font-size: 7pt;
        border-radius: 5px;
        border: 1px solid;

        justify-content: center;
        align-items: center;

        .name-box{
          width: 50px;
          font-size: 9.5pt;
          font-weight: 600;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
          font-kerning: normal;
        }
      }
      .node-name{
        position: absolute;
        bottom: 0;
        right: 20%;
        font-size: 18pt;
        font-weight: 700;
        color: #f2d2bd42;
      }
    }
    .tooltips{
      padding-left: 1rem;
      width: 20%;
      height: 100%;
      border-left: 1px solid #77777777;
      color: #f2d2bd;
      border-bottom: 1px solid #77777777;
      
      
      .title{
        padding-top: .3rem;
        font-weight: 600;
        font-size: 11pt;
        height: 16%;
        border-bottom: 1px solid #77777777;
        
      }
      
      .subtitle{
        
        padding-top: .12rem;
        font-size: 10pt;
        height: 15%;
        border-bottom: 1px solid #77777777;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;

      }
      
      .description{
        padding-top: 1rem;
        font-size: 7.5pt;
        height: 70%;
        overflow-y: scroll;
        scroll-behavior: smooth;
      
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        .text{
          white-space: pre-wrap;
          padding-right: .5rem;
        }
      }
    }
  }

  .navbar-toggle-button{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

  }
}