.navbar-container{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 20%;
  width: 100%;
  background-color: #171717;
  z-index: 999999;
  .navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .navbar-main-components{
      padding-left: .1rem;
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .navbar-component-header{
        padding-left: .75rem;
        display: flex;
        color: bisque;
        font-size: 10.5pt;
        font-weight: 500;        
      }
    }
    .navbar-selectable-elements{
      width: 60%;
      
      display: flex;
      overflow-x: scroll;
      white-space: nowrap;
      align-items: center;
      gap: 10px;
      padding-left: 1rem;      
      padding-right: 1rem;

      .items{
        width: 60px;
        min-width: 60px;
        height: 60px;
        display: flex;
        font-size: 8pt;
        border-radius: 5px;
      }
    }
    .tooltips{
      padding-left: 1rem;
      width: 20%;
      height: 100%;
      border-left: 1px solid #77777777;
      color: bisque;
      
      
      .title{
        padding-top: .3rem;
        font-weight: 600;
        height: 13%;
        border-bottom: 1px solid #77777777;
        
      }
      
      .subtitle{
        
        padding-top: .25rem;
        font-size: 10pt;
        height: 10%;
        border-bottom: 1px solid #77777777;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;

      }
      
      .description{
        padding-top: 1rem;
        font-size: 8pt;
        height: 70%;
        overflow-y: scroll;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        .text{
          white-space: pre-wrap;
          padding-right: .5rem;
        }
      }
    }
  }

  .navbar-toggle-button{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

  }
}