.transport-container{
  height: 100%;
  background-color: #17171777;
  color: bisque;
  display: flex;
  flex-direction: row;
  
  
  .left-stander{
    border-right: 1px solid #77777777;
    padding-top: 2rem;
    font-size: 12pt;
    font-weight: 500;
    width: 25px;
    .header{
      width: 100%;
      writing-mode: vertical-rl;
    }
  }

  .parameters{
    font-size: 8pt;
    padding-left: .5rem;
    width: 300px;
    display: flex;

    .transport-configuration{
      
      width: 50px;
      border-right: #77777777 1px solid;

      .strides{
        padding-top: .25rem;
        width: 100%;
        height: 91%;
      

        .stride{
          border-bottom: 1px solid;
        }
      }
    
    }
    .sequencer-quantizer{      
      width: 100%;
      position: relative;

      .key-screen{
        width: 100%;
        display: flex;
        height: 10%;
        justify-content: center;
        font-size: 8pt;
        font-weight: 700;

       .key{
        display: flex;
        justify-content: center;
          align-items: center;
        width: 12.5%;
        border-right: #77777777 1px solid;
       }
      }
      .sequence{
        
        height: 70%;
        .sliders{
          padding-top: .5rem;
          padding-left: .5rem;
          display: flex;
          
        }

        .adjustables{
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
      
        .note{
          position: absolute;
          border-collapse: collapse;
          width: 12.5%;
          background-color: #77777777;
        }
    }
  }  
}